<div>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>

  <app-home></app-home>
</div>




<footer>
  <div class="section">
    <h2>My Application</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat obcaecati, fugit ratione eos, sunt quis consectetur, nisi facere eum pariatur veniam corporis aliquid distinctio dolor iste amet adipisci minima? Ratione!</p>
  </div>
  <div class="section">
    <h2>Navbar Links</h2>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="">About Us</a></li>
      <li><a routerLink="">Protfolie</a></li>
      <li><a routerLink="">Bolg</a></li>
      <li><a routerLink="">Contact Us</a></li>
    </ul>
  </div>
  <div class="section">
    <h2>Contact Us</h2>
    <ul>
      <li>abhijeetjadhavaj4141.com</li>
      <li>+91 9743710917</li>
      <li>Shedbal,Belgaum</li>
    </ul>
  </div>
</footer>